main{
    width: 100%;
    background: #f4f4f4;
    padding: 50px 0 100px;
    .car-content{
        width: 1200px;
        height: 536px;
        margin: 0 auto;
        background: white;
        overflow: hidden;
        p{
            width: 100%;
            text-align: center;
            margin-top: 250px;
            margin-bottom: 60px;
            font-size: 18px;
            color: #cccccc;
        }
        a{
            display: block;
            width: 170px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            background: black;
            color: white;
            margin: 0 auto;
            border-radius: 3px;
        }
    }
    .show-car{
        width: 1200px;
        background: white;
        padding: 70px 0;
        margin: 0 auto;
        margin-bottom: 30px;
        .chopper{
            width: 1040px;
            margin: 0 auto;
            h4{
                color: #22b147;
                font-size: 18px;
                margin-bottom: 40px;
            }
        }
        table{
            width: 1040px;
            border: 1px solid #999999;
            thead{
                background: purple;
            }
            th,td{
                width: 134px;
                text-align: center;
            }
            tbody tr{
                border-bottom: 1px solid #999999;
            }
            th{
                height: 45px;
            }
            td{
                height: 137px;
            }
            th:nth-child(1),td:nth-child(1){
               text-align: left;
                padding-left: 50px;
            }
            th:nth-child(2),td:nth-child(2){
                width: 316px;
            }
            td:last-child span{
                cursor: pointer;
            }
            input{
                display: none;
            }
            label{
                height: 27px;
                width: 27px;
                cursor: pointer;
                line-height: 27px;
                align-items: center;
                display: flex;
            }
            .special{
                width: 100px;
            }
            .special .all-state{
                display: block;
                width: 27px;
                height: 27px;
                border: 1px solid #22b147;
                border-radius: 50%;
                line-height: 27px;
                text-align: center; 
                margin-right: 20px;
            }
            .choose-state{
                display: block;
                width: 27px;
                height: 27px;
                border: 1px solid #22b147;
                border-radius: 50%;
                line-height: 27px;
                text-align: center; 
            }
            .checked-state{
                background: #22b147;
            }
            .checked-state::after{
                content: "\2714";
                color: white;
            }
            .need-dis{
                display: flex;
                align-items: center;
                .left-img{
                    margin-right: 30px;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
                .right-name p{
                    text-align: left;
                }
            }
            .buy-num{
                height: 23px;
                width: 77px;
                border: 1px solid #999999;
                display: flex;
                justify-content: space-between;
                margin-left: 30px;
                button{
                    border: none;
                    height: 21px;
                    width: 21px;
                    outline: none;
                    background: white;
                }
            }
        }
    }
    .settle-accounts{
        width: 1200px;
        height: 110px;
        margin: 0 auto;
        background: white;
        .cacl-content{
            width: 1040px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .right{
            display: flex;
            align-items: center;
            span:nth-child(3){
                color: #22b147;
                font-size: 24px;
            }
            button{
                width: 120px;
                height: 40px;
                border: none;
                border-radius: 4px;
                margin-left: 40px;
                background: #22b147;
                color: white;
            }
        }
       
    }
}
.modal-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
}
.modal-center{
    width: 250px;
    height: 120px;
    border: 1px solid #22b147;
    padding-top: 30px;
    display: none;
    position: absolute;
    background: white;
    z-index: 50;
    p{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        button{
            border: none;
            height: 30px;
            width: 90px;
            background: #22b147;
            border-radius: 3px;
            color: white;
            &:nth-child(2){
                background: black;
            }
        }
        
    }
}

