.header-content{
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 50;
}
.swiper-container{
    width: 100%;
    height: 680px;
}
.swiper-container .a1{
    display: block;
    height: 100%;
    background: url(/img/shop-list-banner1.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-container .a2{
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/shop-list-banner2.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-container .a3{
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/shop-list-banner3.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-container .a4{
    display: block;
    width: 100%;
    height: 100%;
    background: url(/img/shop-list-banner4.jpg) no-repeat center center;
    background-size: cover;
}
.swiper-pagination-bullet{
    background: white;
}
.swiper-pagination-bullet-active{
    background: #00c03c;
}
main{
    width: 100%;
    background: #f4f4f4;
}
main .shop-list{
    width: 1074px;
    height: 1970px;
    margin: 0 auto;
    padding-top: 20px;
}
main .shop-list .list{
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
}
main .shop-list .list h3{
    padding-left: 5px;
    font-size: 17px;
    margin-bottom: 6px;
}
main .shop-list .list ul{
    width: 100%;
    height: 336px;
    display: flex;
}
main .shop-list .list ul li{
    width: 25%;
    padding: 5px;
    height: 100%;
}
main .shop-list .list ul li a{
    display: block;
    width: 258px;
    height: 326px;
    background: white;
    text-align: center;
    padding-top: 40px;
    position: relative;
}
main .shop-list .list ul li a img{
    height: 140px;
    width: 140px;
    margin-bottom: 30px;
}
main .shop-list .list ul li a p:nth-child(3){
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main .shop-list .list ul li a span{
    position: absolute;
    height: 18px;
    width: 42px;
    border: 1px solid #00c03c;
    color: #00c03c;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    left: 13px;
    top: 13px;
}